// out: ../css/
@import "base";
@import "common";

// intro //
.intro {
  h2 {
    font-size: 36px;
  }

  hr {
    margin: 32px 0;
    border: #333 1px solid;
  }

  .bottom {
    position: relative;
    display: flex;

    img {
      width: 375px;
      height: max-content;
    }

    iframe {
      margin: 0;
      border: none;
      height: auto;
    }

    .tip {
      position: absolute;
      top: 24px;
      left: 800px;

      img {
        width: 18px;
      }
    }
  }
}